/* SIDENAVBAR */
.sidenavbar__container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.sidenavbar__container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 71px;

    background: #29B712;
}

.sidenavbar__container__logo img{
    width: 49.21px;
    height: 24.6px;
}

.sidenavbar__container__buttons {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.sidenavbar__container__buttons button {
    margin-top: 28px;
    font-weight: 400;
    font-size: 40px;
    border: none;
    background-color: white;

    text-align: center;
}

.sidenavbar__container__buttons label {
    margin-top: 5px;
    color: #6B6B6B;
}

.fileanddoc__container button {
    margin-top: 30px;
}

.details__form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #6B6B6B;
    margin-bottom: 20px;
}

.details__buttons {
    margin-top: 5rem;
}

.details__buttons button {
    padding: 5px 30px;
}

.details__list {
    margin-top: 5rem;
    background-color: #F8F8F8;
}

.details__list_heading {
    display: flex;
    justify-content: space-between;
}
.details__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    margin: 5rem 2rem;
}
